

@mixin displayFlex { 
    display: flex;
}

@mixin justifyContent ($justifyContent) { 
    justify-content: $justifyContent;
}

@mixin alingItems ($alingItems) { 
    align-items: $alingItems;
}

@mixin height ($height) { 
    height: $height;
}

@mixin width ($width) { 
    width: $width;
}

@mixin maxHeight ($maxHeight) { 
    max-height: $maxHeight;
}

@mixin maxWidth ($maxWidth) { 
    max-width: $maxWidth;
}

@mixin minHeight ($minHeight) { 
    min-height: $minHeight;
}

@mixin minWidth ($minWidth) { 
    min-width: $minWidth;
}

@mixin flexDirection ($flexDirection) { 
    flex-direction: $flexDirection;
}

@mixin fontWeight ($fontWeight) { 
    font-weight: $fontWeight;
}

@mixin fontSize ($fontSize) { 
    font-size: $fontSize;
}
.header{
 min-height: 1px;
 height: 100%;
}

 .header-container{
    @include displayFlex;
    position: fixed;
    @include justifyContent(space-around); 
    background-color: transparent;
    @include alingItems(center); 
    @include width(100%);
    @include height(0px); 
    @include minWidth(100px); 
    @include minHeight(10vh);
    @include maxHeight(100vh);
    box-shadow: 1px 8px 17px -3px rgba(0,0,0,1);
    border-radius: 0 0 30px 30px;
}

a{
    text-decoration: none;
    color: black;
    border: 5px black;
    @include fontSize(20px);
    @include fontWeight(bold); 
    transition: 300ms;
} 

a:hover{
    transform: scale(1.5);
    color:rgb(59, 59, 59);
}


.header-container__aboutMe{
    @include displayFlex;
    @include flexDirection(column);
    @include width(100%);
    @include height(100%);
    @include maxWidth(200px);
    @include justifyContent(center);
    @include alingItems(center);
}

.header-container__resume{
    @include displayFlex;
    @include flexDirection(column);
    @include width(100%);
    @include height(100%);
    @include maxWidth(200px);
    @include justifyContent(center);
    @include alingItems(center);
}

.header-container__skills{
    @include displayFlex;
    @include displayFlex;
    @include flexDirection(column);
    @include width(100%);
    @include height(100%);
    @include maxWidth(200px);
    @include justifyContent(center);
    @include alingItems(center);
}

.header-container__thanks{
    @include displayFlex;
    @include displayFlex;
    @include flexDirection(column);
    @include width(100%);
    @include height(100%);
    @include maxWidth(200px);
    @include justifyContent(center);
    @include alingItems(center);
}

img{
    @include width(100%);
    @include height(100%);
    @include maxHeight(40px);
    @include maxWidth(40px);
    padding-bottom: 10px;
}