body {
  background-color: #f6f5f5;
  margin: 0px;
  padding: 0px;
}
section {
  width: 100%;
  height: 95vh;
  background-image: url(/images/white-gray.jpg);
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 0px 5%;
}
.navi {
  color: black;
  font-size: 16px;
  margin: 30px;
  font-family: calibri;
  font-weight: bold;
}

.myn {
  font-size: 25px;
  font-family: calibri;
  font-weight: bold;
  color: black;
}
.text-container p:nth-child(1) {
  font-family: calibri;
  font-size: 22px;
  color: black;
  font-weight: bold;
}

.text-container p:nth-child(2) {
  font-family: calibri;
  font-size: 40px;
  color: #1a1a1a;
  font-weight: bold;
  letter-spacing: 1px;
}
.text-container p:nth-child(3) {
  font-size: 30px;
  font-weight: 700;
  color: black;
  line-height: 0px;
}
.text-container p {
  line-height: 0px;
  margin: 45px 0 25px;
}
.text-container {
  position: absolute;
  left: 13%;
  top: 42%;
}
.text-container button {
  width: 130px;
  height: 42px;
  border-radius: 7px;
  font-family: calibri;
  font-weight: 900;
  font-size: 14px;
}

.about-container {
  border: 1px solid black;
  height: 170px;
  margin: 10px;
  padding: 10px;
  box-shadow: 10px 10px 30px gray;
  background: radial-gradient(
    circle,
    rgba(240, 240, 240, 1) 0%,
    rgba(161, 161, 161, 1) 100%
  );
}

.about-container p {
  font-family: calibri;
  font-weight: 400;
  font-size: 17px;
}

.exp-container {
  border: 1px solid black;
  height: 150px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 10px 10px 30px grey;
}
.exp-container p {
  font-family: calibri;
  font-weight: 400;
  font-size: 17px;
}
footer {
  height: 50px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
footer p {
  font-family: calibri;
  font-size: 15px;
  font-weight: 700;
}
footer :nth-child(2) {
  font-size: 17px;
}
