header {
    position: fixed;
    width: 100%;
    height: 40px;
    right: 0;
    top: 0;
    z-index: 10;
}
div.tables {
    position: relative;
    display: inline-block;
    width: 50%;
    background-color: brown;
    height: 600px;
    overflow-x: hidden;
}
img.gatito {
    width: 100%;
}
.title {
    color: red;
    margin: 0px;
    text-align: center;
}
.author {
    color: blue;
}
p.author  {
    text-shadow: 5px 3px 5px #000;
    color: red;
}
#unico {
    font-size: 30px;
}
li span {
    font-size: 18px;
}
img {
    display: inline-block;
}
img.boxmodel {
    height: 500px;
    width: 500px;
} 
a {
    display: block;
    height: 20px;
}
.tables div {
    background-color: cyan;
    height: 80px;
    width: 80px;
    position: absolute;
}
.tables .one {
    top: 0;
    left: 0;
}
.tables .two {
    top: 0;
    left: 90px;
}
.tables .three {
    top: 60px;
    left: 200px;
    background-color: darkgreen;
    z-index: 2;
}
.tables .four {
    top: 60px;
    left: 260px;
    background-color: gray;
}
@media (max-width: 425px) {
    header p {
        font-size: 20px;
    }
    div.tables {
        width: 100%;
    }

}
@media (max-width: 715px) {
    .tables .three {
        left: 20px;
    }
    .tables .four {
        left: 50px;
    }
}
