*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    font-family: 'Zilla Slab', serif;
    color: white;
    
}
.container {
    padding: 0px 10rem;
}

header {
    background-image: url(./imágenes/img\ background\ banner.jpg);
    background-size: 57rem;
    height: 380px;
    background-position: bottom;
}
header img {
    width: 15rem;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0px 1px 20px 3px #c1070773;
}

.flex-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    justify-content: space-between;
}
.profile h1 {
    font-size: xxx-large;
    background-color: rgba(36, 1, 1, 0.3);
}
.profile span {
    font-weight: bold;
    font-size: 26px;
    background-color: rgba(36, 1, 1, 0.3);
    border-radius: 8px;
}
body {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(6 1 1), rgb(147 3 22));
    height: 100%;
    /* background-color: black; */
    /* padding: 3vw 8vw; */
}
.Content__Div {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.Content__Div h1, h2, h3, h4, h5, h6 {
    font-size: xx-large;
}
.Content__Div p {
    font-size: 20px;
    font-weight: normal;  
}
.Content__Div--skills {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 23rem;
}
.skills__bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills__bar p {
    font-size: large;
}
.skills__bar meter {
    width: 120px;
    height: 20px;
}
.frontend {
    font-weight: bold;
    font-size: 22px;

}
footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h6 {
    font-size: -webkit-xxx-large;
    margin-right: 15px;
}
.footer__contact {
    display: flex;
    align-items: center;
}
/* .skills {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

}
.skills h2 {
    font-size: xx-large;
}
.skills p {
font-size: 20px;
font-weight: bold;
}
.skills__bar p {
    font-size: unset;
    font-weight: normal;
}
.Jobs {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.Jobs h3 {
    font-size: xx-large;
}
.background {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.background h4 {
    font-size: xx-large;
}
.background p {
    font-style: italic;
    font-size: x-large;
}
.Related {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.Related H5 {
    font-size: xx-large;
}
.Related p {
    font-style: italic;
    font-size: x-large;
}
.Interest {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.Interest h6 {
    font-size: xx-large;
}
.Interest p {
    font-style: italic;
    font-size: x-large;
} */
