*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(225,243,255);
    background: linear-gradient(0deg, rgba(225,243,255,0.6923144257703081) 0%, rgba(255,255,255,1) 32%, rgba(255,255,255,0.8323704481792717) 72%, rgba(225,243,255,1) 100%);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
}

h1{
    padding-bottom: 3rem;
    font-size: calc(1.75rem + 1.5vw);
}

.input-group-text {
 background-color: #94bce55c;
 border: 1px solid #8db0d3;
}

.form-control{
    border: 1px solid #6592bf8c;
}

#name-containerId{
    padding-bottom: 2rem;
}

#credit-containerId{
    padding: 2rem 0;
}

.range-container{
    width: 100%;
    padding: 2rem 0;
}

